/* SCREEN WIDTH UNDER 1200px */
@media screen and (max-width: 1199px) {
  .about-box {
    margin-top: 0;
  }
  .aboutimageM {
    display: block;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -50px;
  }

  .about-us {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .about-content {
    margin-top: 0;
    margin-bottom: -70px;
  }

  #section2 {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .portfolio {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .pricing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .features .cta-bottom {
    margin-top: 0;
  }

  .features .cta-bottom h4{
    font-size: 17px;
  }


  .features .feature-grid{
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
  }

  .features .feature-grid .feature-box{
    padding-right: 0;
    padding-left: 0;
    height: 150px;
  }
  .features {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .blog {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .subscribe-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .get-in-touch {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .work-steps {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .floorsImage {
    margin-top: 0 !important;
  }
  .overflow-box {
    margin-left: 0;
  }
  .grid figure {
    margin: 0;
  }
  .steps {
    margin-top: 75px;
  }
  .steps .step .step-box-left {
    margin-left: 0;
    margin-top: 0;
  }
  .steps .step .step-box-right {
    margin-right: 0;
    margin-top: 0;
  }
  .testimonials .single-feedback .feedback-content .top {
    top: 160px;
  }
  .testimonials .single-feedback .feedback-content {
    margin-top: 0;
    margin-left: 0;
  }
  .testimonials .owl-theme .owl-controls {
    text-align: center;
    margin-top: 50px;
  }
  .fixed-bg {
    background-attachment: scroll;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  figure.effect-zoe p.description {
    bottom: 110px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1283px){
  .navbar-right {
    margin-right: 22px !important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px){
  .sticky-navigation .main-navigation li a {
    font-size: 10px;
  }
  .navbar-right {
    margin-right: 22px !important;
  }
}

@media screen and (max-width: 800px) {
  .conditionimg {
    width: 70px;
  }

  .offerimg {
    width: 100px;
  }

  .play-btn {
    width: 70px;
    height: 70px;
  }

  .play-btn, .conditionimg {
    bottom: 80px;
  }

  .social-btns .btn_ {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .social-btns .btn_ .fa,
  .social-btns .btn_ .icon{
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid figure {
    width: 50%;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .grid figure {
    width: 50%;
  }
  figure.effect-zoe p.description {
    bottom: 100px;
  }
}

@media screen and (max-width: 639px) {
  .grid figure {
    width: 100%;
    max-width: 100%;
  }

  .work-steps .steps .step-1-image,
  .work-steps .steps .step-2-image,
  .work-steps .steps .step-3-image,
  .work-steps .steps .step-4-image{
    background: none;
  }

  #section h4 {
    font-size: 18px;
  }

  .focuses .floorbutton,
  .focuses .soldbutton{
    width: 90px;
    padding: 5px;
    letter-spacing: 0;
    margin-right: 4px;
    font-size: 15px;
  }

  .js-img-compare {
    width: 100% !important;
  }
  .conditionTxt {
    font-size: 15px !important;
  }
}

/* SECREEN WIDTH undeer 992px */
@media screen and (max-width: 991px) {
  .footer-col {
    text-align: center !important;
  }

  .no-gutters {
    overflow: hidden;
  }

  .get-in-touch a img {
    width: 200% !important;
    margin-left: -150px;
    height: 220px;
  }

  .get-in-touch .footer-col {
    padding-bottom: 0;
    padding-top: 15px;
  }

  .footer {
    margin-top: 0;
  }
}

/* SCREEN WIDTH <= 640px */
@media screen and (max-width: 640px) {
  .steps .step .step-box-left,
  .steps .step .step-box-right {
    width: 100%;
    height: auto;
  }
  .subscribe-form .input-box {
    border-radius: 30px;
  }
  .subscribe-form .standard-button {
    margin-left: 0;
    border-radius: 30px;
  }

  .video-play h3 {
    font-size: 20px;
  }
  .video-play .play-button {
    font-size: 60px;
  }
  .video-play .color-overlay {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .our-focus .about-content .text-left {
    margin-bottom: 0;
  }

  .our-focus .about-content .section-heading {
    font-size: 18px;
  }

  .our-focus .about-content p {
    font-size: 16px !important;
    margin-top: 0;
  }

  .our-focus .about-content:first-child {
    padding-top: 0 !important;
  }

  .our-focus {
    padding-top: 70px;
    padding-bottom: 0;
  }

  .our-focus .about-box .four-lines {
    padding-top: 70px;
  }
}

/* SCREEN WIDTH <= 480px */
@media screen and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  .home .color-overlay {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .home .red-button {
    margin-bottom: 0;
  }
  .about-box .about-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps .step .step-number {
    margin-bottom: 50px;
  }
  .testimonials .single-feedback .feedback-content blockquote cite .client-image {
    display: none;
  }
}

/* RESPONSIVE NAVIGATION FIXES */
@media (max-width: 991px) {
  .main-logo {
    margin-left: -73px;
  }
  .inner-main-logo {
    margin-left: -70px;
  }
  .floorsImage {
    width: 100%;
    margin-top: 25%
  }
  a:hover>.onHoverImage { display: none; }
  a:hover>.onHoverImageInner { display: none; }

  .focuses {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    float: left;
    margin-left: 5px;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    padding-bottom: 25px;
  }
  .navbar-nav > li {
    float: none;
    width: 100%;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-inverse .navbar-toggle {
    border: none;
  }
  .navbar-toggle {
    font-size: 40px;
    padding: 6px 12px;
    margin-top: 18px;
    margin-right: 0;
    cursor: pointer;
  }
  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: #fc5f45;
    color: #ffffff;
    cursor: pointer;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border: none;
  }
  .nav > li {
    display: inline-block;
  }
  .sticky-navigation .main-navigation li a {
    line-height: 27px;
  }
}

@media (max-width: 418px) {
  .call-form .input-box {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .standard-button {
    border-radius: 2px;
  }

  .js-front-btn,
  .js-back-btn,
  .images-compare-label{
    font-size: 12px;
  }
}
